.hero-section {
    position: relative;
    background-color: rgba(97, 40, 231, 0.75);
    background: url("/static/images/blog/tech.jpg");
    background-position: right!important;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2.5em;
    text-align: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(138, 43, 226, .5), rgb(138, 43, 226, .5));
}

.hero-section div {
    position: relative;
}

.hero-section .h1-45 {
    text-transform: capitalize;
}

.hero-section .p-20 {
    font-size 20px;
}

.category-container {
    display: flex;
    margin: 0 auto;
    overflow-x: scroll;
}

.category-container a {
    padding: .5em;
}

.category-container a:hover {
    border-bottom: 2px solid blueviolet;
}

.category-container .active-link {
    border-bottom: 2px solid blueviolet;
}

.blog-base-container {
    display: flex;
}

section {
    margin-top: 2em !important;
}

.sub-header {
    color: rgb(71, 8, 129);
    display: flex;
    justify-content: space-between;
}

.sub-header a {
    border-radius: 5px;
    padding: .15em .25em;
    margin-bottom: 0;
    font-weight: lighter;
    font-size: medium;
}

.sub-header a:hover {
    border-radius: 5px;
    font-weight: lighter;
    font-size: medium;
    background-image: linear-gradient(to left, #971ADE, #de1aad);
    color: white;
}

.blog-base-container .division-1 {
    flex: 3
}

.blog-base-container .division-2 {
    flex: 1
}


/* -------------begin aside----------------------  */

.aside-container {
    flex: 1;
    padding: .5em;
}

.aside-container {
    /* max-height: 20em;
    max-width: 100%; */
    overflow-y: scroll;
    min-width: 15em;
    position: relative;
}

.aside-container h4 {
    padding: 0;
    margin: 0;
}

.aside-container .trending-post {
    color: black!important;
}

.aside-container .trending-post-conatainer {
    padding: .5em;
}

.aside-container .trending-post-conatainer:hover {
    color: black!important;
    background-color: rgb(138, 43, 226, .5);
}

.author-container {
    display: flex;
}

.author-container small:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.author-container .author-img {
    width: 2em;
    height: 2em !important;
    margin-right: .25em;
    border-radius: 50%;
}

.content-container {
    display: flex;
    justify-content space-between;
    align-items: center;
}

.article-img-conatainer {
    width: 5em;
    height: 5em;
    padding-right: .5em;
}

.article-img-conatainer img {
    width: 100%;
    height: 100%;
}


/*---------------- end aside--------------------- */


/* tablet  */

@media screen and (max-width: 992px) {
    .blog-base-container {
        display: flex;
        flex-direction: column;
    }
    .aside-container .all-trending-post-conatainer {
        /* padding: .5em; */
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        max-width: 100%;
    }
    .trending-post-conatainer {
        /* padding: .5em; */
        width: 45%;
        min-width: 45%;
        padding: 3%;
    }
}

@media screen and (max-width: 600px) {
    .blog-base-container {
        display: flex;
        flex-direction: column;
    }
    .aside-container .all-trending-post-conatainer {
        /* padding: .5em; */
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .trending-post-conatainer {
        /* padding: .5em; */
        width: 100%;
        /* min-width: 45%;
        padding:; */
    }
}