/* begin hero-section */

.hero-section {
    position: relative;
    background-color: rgba(97, 40, 231, 0.75);
    background: url("/static/images/core/privacy_policy.jpg");
    background-position: right!important;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2.5em;
    text-align: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(138, 43, 226, .5), rgb(138, 43, 226, .5));
}

.hero-section div {
    position: relative;
}

.hero-section .h1-45 {
    text-transform: capitalize;
}

.section-2 {
    padding: 1em 1.5em 2em;
}

.privacy-title {
    text-align: center;
    text-transform: capitalize;
}

.privacy-content {
    color gray;
}