{% extends 'account/base.html'%} {%load static%}{% block account-styles %}
<link rel="stylesheet" href="{% static 'css/account/signin.css' %}"> {% endblock account-styles%} {%block account-content%}
<section class="section-2 form-section">
    <div class="form-container">
        <div class="img-container"><img src="{% static 'images/account/login.jpg' %}" alt=""></div>
        <form method="POST" action="{%url 'account:signin' %}{% if request.GET.next %}?next={{request.GET.next}}{%endif%}">
            {%csrf_token%}
            <p><input type="text" name="email_or_username" id="" placeholder="email or username"></p>
            <p><input type="password" name="password" id="" placeholder='password'></p>
            <input type="submit" class="submit" value="Signin"> <span><a href="">forgot password?</a></span>
        </form>
    </div>
</section>{%endblock account-content%}