{% extends 'base.html' %} {%load static%} {%block styles%}
<link rel="stylesheet" href="{% static 'css/core/event.css' %}"> {%endblock styles%} {%block content%}
<section class="section-1 hero-section">
    <!-- <img src="" alt=""> -->
    <div>
        <br><br><br>
        <h1 class="h1-45"> Let's Get Going.</h1>
        <p class="p-20">
            <a href="{% url 'account:signin' %}">Login</a>/<a href="{% url 'account:signup' %}">Register</a> <br>
        </p>
    </div>

</section>
<section class="section-2">
    {%for event in events%}
    <div class="card">
        <h2>{{event.title|upper}}</h2>
        <p>{{event.content|safe}}</p>
    </div>
    {%empty%}
    <div>No any event yet, Subscribe to our news later to know when will be our next event</div>
    {%endfor%}
</section>
{%endblock content%}