{% extends 'base.html' %} {%load static%} {%block styles%}
<link rel="stylesheet" href="{% static 'css/core/privacy_policy.css' %}">
<meta name="description" content="Our privacy policy on the use of clients, registered users and subscribers informations">
<meta name="keywords" content="jcoteck, privacy, policy, protection">
<meta name="author" content="JCOTeck">
<title>Privact policy</title>
{%endblock styles%} {%block content%}
<div class="privacy-policy-container">
    <section class="section-1 hero-section">

        <div class="content">
            <br><br><br>
            <h1 class="h1-45"> Our Privacy Policy </h1>
            <p class="p-20">
                <em>Read our Privacy Policy</em> <br>
                <small>Note that this is subject to change and as such  you will be notified on effected through your email and on our website </small>
            </p>
        </div>

    </section>
    <section class="section-2">
        {% for p_p in p_ps %}
        <h1 class="privacy-title">{{p_p.title}}</h1>
        <div class="privacy-content">{{p_p.content|safe}}</div>
        {%empty%}
        <div class="comming-soon">
            <h1>COMMING SOON!</h1> <span><a href="{% url 'core:home' %}/#subscribe" class="subscribe">subscribe</a> to our e-mail list to stay abreast with JCOTeck on our  <em>Privacy / Policy</em> and other events</span>
        </div>
        {%endfor%}
    </section>
</div>{%endblock content%}