{% extends 'base.html' %} {%load static%} {%block styles%}
<link rel="stylesheet" href="{% static 'css/core/privacy_policy.css' %}">
<meta name="description" content="JcoTeck is a leading and innovative technology company in Africa, based off in Onitsha Nigeria saddled with the responsibility of providing sustanable ICT and Engineering solutions
to startups, small and medium business organizations and industries that creates an online presense, anounce them to their prospective customers, increase their profit margin and sky rocket their businesses towards achieving their business objectives.">
<meta name="keywords" content="about jcoteck, Ict, Engineering, jcoteck, technology, about">
<meta name="author" content="JCOTeck">
<title>about jcoteck</title>
{%endblock styles%} {%block content%}
<div class="privacy-policy-container">
    <section class="section-1 hero-section">

        <div class="content">
            <br><br><br>
            <h1 class="h1-45"> Our Privacy / Policy </h1>
            <p class="p-20">
                <em>Read our Privacy / Policy</em> <br>
                <small>Note that this is subject to change and as such  you should always stay abreast by subscribing to our email list where you get notified on any recent update</small>
            </p>
        </div>

    </section>
    <section>
        {% for p_p in P_Ps %}
        <h1>{{p_p.title}}</h1>
        <div>{{p_p.content|safe}}</div>
        {%empty%}
        <div class="comming-soon">
            <h1>COMMING SOON!</h1> <span><a href="{% url 'core:home' %}/#subscribe" class="subscribe">subscribe</a> to our e-mail list to stay abreast with JCOTeck on our  <em>Privacy / Policy</em> and other events</span>
        </div>
        {%endfor%}
    </section>
</div>{%endblock content%}