{% extends 'base.html' %} {%load static%} {%load read_svg%} {%block styles%}
<link rel="stylesheet" href="{% static 'css/core/service.css' %}"> {%endblock%} {%block content%}
<div>
    <section class="section-1 hero-section">
        <div>
            <br><br><br>
            <h1 class="h1-45"> We Offer Top Notch Software, Iot & Robotic Serivices</h1>
            <p class="p-20">
                <em> We can help you with your Project</em> <br><br> <button><a href="">Get Quote</a> </button>
            </p>
        </div>

    </section>
    <section class="section-2">

        <div class="couroser">
            <!-- <div class="img-container"><img src="{% static 'images/core/home_automation.jpg' %}" alt="background image"></div> -->
            <ul class="service-container service-details">

                <div class="svg_img-container">
                    {%if service.svg_img %} {% read_svg service.svg_img.url %} {%endif%}
                </div>
                <div>
                    <h3>{{service.title}}</h3>
                    <div class="service-content">{{service.content}}</div>
                </div>
            </ul>
        </div>
    </section>
    <section class="section-3">
        <h2>Take A Tour, <a href="">Explore our projects below</a></h2>
        <div class="project-container">
            {%for project in portfolios %}
            <div class="project">
                <div class="img-container"><img src="{{project.image.url}}" alt="{{project.alt_text}}"></div>
                <div class="content-container">
                    <h3>{{project.title}}</h3>
                    {% if project.content%}{{project.content}}{%endif%}
                    <div class="url-container"> <button><a class="project-url" href="{{project.url}}">View project</a></button></div>
                </div>
            </div>
            {%empty%}
            <div>No completed projects yet</div>
            {%endfor%}
        </div>
    </section>
    <section>
        other related service projects
    </section>
</div>
{%endblock%}