body {
    margin: 0;
    background-color: white;
    padding: 0;
    position: relative;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-pink {
    color: #FD21CA;
}

.color-purple {
    color: #971ADE;
}

.h1-45 {
    text-transform: capitalize;
}

.p-20 em {
    text-shadow: 0 2px 0 #FD21CA;
}

body {
    font-size 16px;
}

body .msg-alert-container,
body .msg-alert-container-1 {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 7em!important;
    left: unset;
    right: 0;
    margin-right: .5em;
    z-index: 100!important;
    opacity: 1!important;
}

body .msg-alert-container-1 {
    display: none;
}

body .msg-alert-container-1 {
    display: none;
}

body .msg-alert {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border-radius: 15px 15px 0 15px;
    color: white;
    background-color: #de1aad;
}

body .msg-alert .close-msg-alert {
    margin-left: 1em;
    transition: all .25s ease;
}

body .msg-alert .close-msg-alert:hover {
    transform: scale(1.25);
    transition: all .25s ease;
}

a {
    color: #FD21CA;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

main {
    position: relative;
}

.get-quote-form-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: rgb(138, 43, 226, .5);
    /* z-index: 0; */
}

.get-quote-form {
    background-color: rgb(236, 197, 228);
    color: gray;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: .5em;
    margin-top: 7em;
    display: none;
}

.quote-header {
    background-color: #de1aad;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: -.5em;
    padding: .5em;
    border-radius: 10px 10px 0 0;
}

.cancel-get-quote {
    transition: all .25s ease;
}

.cancel-get-quote:hover svg {
    transform: scale(1.25);
    transition: all .25s ease;
}

.get-quote-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.get-quote-form input,
.get-quote-form select {
    width: 98%;
    border-radius: 5px;
    height: 2em;
    border: none;
    background-color: whitesmoke;
    padding: .25em;
}

.get-quote-form select {
    color: gray;
}

.get-quote-form p textarea {
    top: 15%;
    width: 98%;
    border-radius: 5px;
    padding: .25em;
    background-color: whitesmoke;
    border: none;
}

.get-quote-form #get_quote {
    border: 2px solid #FD21CA;
    color: #FD21CA;
    background-color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.get-quote-form #get_quote:hover {
    background-image: linear-gradient(to left, #971ADE, #de1aad);
    border: none;
    color: white;
    /* padding: 1.15em 0 2.15em 0; */
}

.comming-soon {
    color: grey;
    text-align: center!important;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:992px) {
    body {
        font-size: large;
    }
    .get-quote-form {
        width: 65%;
    }
}

@media screen and (max-width:992px) {
    .get-quote-form {
        width: 85%;
    }
    body {
        font-size: medium;
    }
}